<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Inter:wght@700&display=swap" rel="stylesheet">
</head>
<body class="home-page">
    <div class="container">
        <p>Catálogo de Arquivos</p>
        <h1>iGlem</h1>
    </div>
    <div class="buttons-top">
        <button class="button-top" onclick="location.href='@Url.Action("Login", "Account")'">Entrar</button>
        <button class="button-top" onclick="location.href='@Url.Action("Register", "Account")'">Cadastrar</button>
    </div>
</body>
</html>
